<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
		        	<li><a href="/#intro">About</a></li>
	        		<li><a href="/#resume">Contact</a></li>
					<li><a href="/#">Projects</a></li>
					<li><a href="/#contact">Resume</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
				<ul>
					<li> <a href="/">Home</a></li>
				</ul>
			</footer>
		</body>
	</html>
